:root {
  --blue-50: undefined;
  --blue-100: undefined;
  --blue-200: undefined;
  --blue-300: undefined;
  --blue-400: undefined;
  --blue-500: undefined;
  --blue-600: undefined;
  --blue-700: undefined;
  --blue-800: undefined;
  --blue-900: undefined;
  --blue-950: undefined;
  --indigo-50: undefined;
  --indigo-100: undefined;
  --indigo-200: undefined;
  --indigo-300: undefined;
  --indigo-400: undefined;
  --indigo-500: undefined;
  --indigo-600: undefined;
  --indigo-700: undefined;
  --indigo-800: undefined;
  --indigo-900: undefined;
  --indigo-950: undefined;
  --green-50: undefined;
  --green-100: undefined;
  --green-200: undefined;
  --green-300: undefined;
  --green-400: undefined;
  --green-500: undefined;
  --green-600: undefined;
  --green-700: undefined;
  --green-800: undefined;
  --green-900: undefined;
  --green-950: undefined;
  --orange-50: undefined;
  --orange-100: undefined;
  --orange-200: undefined;
  --orange-300: undefined;
  --orange-400: undefined;
  --orange-500: undefined;
  --orange-600: undefined;
  --orange-700: undefined;
  --orange-800: undefined;
  --orange-900: undefined;
  --orange-950: undefined;
  --red-50: undefined;
  --red-100: undefined;
  --red-200: undefined;
  --red-300: undefined;
  --red-400: undefined;
  --red-500: undefined;
  --red-600: undefined;
  --red-700: undefined;
  --red-800: undefined;
  --red-900: undefined;
  --red-950: undefined;
  --neutral-25: undefined;
  --neutral-50: undefined;
  --neutral-100: undefined;
  --neutral-200: undefined;
  --neutral-300: undefined;
  --neutral-400: undefined;
  --neutral-500: undefined;
  --neutral-600: undefined;
  --neutral-700: undefined;
  --neutral-800: undefined;
  --neutral-900: undefined;
  --neutral-950: undefined;
  --neutral-975: undefined;
  --black-alpha-50: undefined;
  --black-alpha-100: undefined;
  --black-alpha-200: undefined;
  --black-alpha-300: undefined;
  --black-alpha-400: undefined;
  --black-alpha-500: undefined;
  --black-alpha-600: undefined;
  --white-alpha-100: undefined;
  --white-alpha-200: undefined;
  --white-alpha-300: undefined;
  --white-alpha-400: undefined;
  --white-alpha-500: undefined;
  --white-alpha-600: undefined;
  --crowdflower-50: undefined;
  --crowdflower-100: undefined;
  --crowdflower-200: undefined;
  --crowdflower-300: undefined;
  --crowdflower-400: undefined;
  --crowdflower-500: undefined;
  --crowdflower-600: undefined;
  --crowdflower-700: undefined;
  --crowdflower-800: undefined;
  --crowdflower-900: undefined;
  --crowdflower-950: undefined;
  --surface-default: undefined;
  --surface-sunken: undefined;
  --surface-disabled: undefined;
  --surface-hover: undefined;
  --surface-information-subtlest: undefined;
  --surface-information-subtle: undefined;
  --surface-information-muted: undefined;
  --surface-information-active: undefined;
  --surface-information-hover: undefined;
  --surface-information: undefined;
  --surface-warning-subtlest: undefined;
  --surface-success: undefined;
  --surface-warning-subtle: undefined;
  --surface-success-muted: undefined;
  --surface-warning-active: undefined;
  --surface-warning: undefined;
  --surface-succes-subtlest: undefined;
  --surface-success-subtle: undefined;
  --surface-success-hover: undefined;
  --surface-warning-muted: undefined;
  --surface-success-active: undefined;
  --surface-warning-hover: undefined;
  --surface-danger-subtlest: undefined;
  --surface-danger-muted: undefined;
  --surface-danger-active: undefined;
  --surface-danger-subtle: undefined;
  --surface-danger-hover: undefined;
  --surface-danger: undefined;
  --bg-action: undefined;
  --bg-action-hover: undefined;
  --bg-action-active: undefined;
  --bg-danger-hover: undefined;
  --bg-danger-active: undefined;
  --bg-danger: undefined;
  --bg-brand: undefined;
  --bg-brand-subtle: undefined;
  --bg-action-subtle: undefined;
  --bg-danger-muted: undefined;
  --bg-disabled: undefined;
  --bg-brand-subtlest: undefined;
  --bg-neutral-hover: undefined;
  --bg-neutral-active: undefined;
  --bg-inverse: undefined;
  --bg-default: undefined;
  --bg-neutral-inverse: undefined;
  --bg-danger-subtler: undefined;
  --bg-success-subtler: undefined;
  --bg-warning-subtler: undefined;
  --bg-information-subtler: undefined;
  --icon-100: undefined;
  --icon-200: undefined;
  --icon-300: undefined;
  --icon-400: undefined;
  --icon-500: undefined;
  --border-100: undefined;
  --border-200: undefined;
  --border-300: undefined;
  --border-none: undefined;
  --text-default: undefined;
  --text-muted: undefined;
  --text-subtle: undefined;
  --text-action: undefined;
  --text-action-hover: undefined;
  --text-action-active: undefined;
  --text-danger: undefined;
  --text-danger-hover: undefined;
  --text-danger-active: undefined;
  --text-inverse: undefined;
  --text-disabled: undefined;
  --text-brand: undefined;
  --text-warning-hover: undefined;
  --text-warning-active: undefined;
  --text-warning: undefined;
  --text-information-active: undefined;
  --text-information-hover: undefined;
  --text-information: undefined;
  --text-success-hover: undefined;
  --text-success-active: undefined;
  --text-success: undefined;
  --test: undefined;
  --body-sans: undefined;
  --body-italic: undefined;
  --body-line-height-sm: undefined;
  --body-line-height-md: undefined;
  --body-regular: undefined;
  --body-xs: undefined;
  --body-line-height-xs: undefined;
  --body-bold: undefined;
  --body-md: undefined;
  --body-sm: undefined;
  --body-lg: undefined;
  --body-line-height-lg: undefined;
  --display-volte-rounded: undefined;
  --display-volte-rounded-italic: undefined;
  --display-line-height-sm: undefined;
  --display-line-height-md: undefined;
  --display-xs: undefined;
  --display-md: undefined;
  --display-semibold: undefined;
  --display-line-height-xxs: undefined;
  --display-xxs: undefined;
  --display-lg: undefined;
  --display-sm: undefined;
  --display-line-height-xs: undefined;
  --display-line-height-lg: undefined;
  --heading-volte-rounded-italic: undefined;
  --heading-volte-rounded: undefined;
  --heading-line-height-md: undefined;
  --heading-line-height-lg: undefined;
  --heading-xxxs: undefined;
  --heading-xxs: undefined;
  --heading-xs: undefined;
  --heading-line-height-xs: undefined;
  --heading-line-height-xxs: undefined;
  --heading-sm: undefined;
  --heading-md: undefined;
  --heading-lg: undefined;
  --heading-line-height-xxxs: undefined;
  --heading-line-height-sm: undefined;
  --heading-semibold: undefined;
  --button-sans: undefined;
  --button-line-height-sm: undefined;
  --button-line-height-md: undefined;
  --button-sm: undefined;
  --button-md: undefined;
  --button-regular: undefined;
  --link-sans: undefined;
  --link-italic: undefined;
  --link-line-height-sm: undefined;
  --link-line-height-md: undefined;
  --link-md: undefined;
  --link-regular: undefined;
  --link-sm: undefined;
  --utilities-sans: undefined;
  --utilities-regular: undefined;
  --utilities-md: undefined;
  --utilities-sm: undefined;
  --utilities-line-height-md: undefined;
  --utilities-line-height-sm: undefined;
  --utilities-bold: undefined;
  --family-rounded: undefined;
  --family-sans-mono: undefined;
  --family-sans-display: undefined;
  --family-sans-condensed: undefined;
  --family-sans: undefined;
  --style-italic: undefined;
  --size-100: undefined;
  --size-200: undefined;
  --size-300: undefined;
  --size-400: undefined;
  --size-500: undefined;
  --size-600: undefined;
  --size-700: undefined;
  --size-900: undefined;
  --size-1100: undefined;
  --size-1700: undefined;
  --size-2600: undefined;
  --size-3600: undefined;
  --weight-semibold: undefined;
  --weight-bold: undefined;
  --weight-regular: undefined;
  --weight-medium: undefined;
  --weight-light: undefined;
  --line-height-100: undefined;
  --line-height-200: undefined;
  --line-height-300: undefined;
  --line-height-400: undefined;
  --line-height-500: undefined;
  --line-height-600: undefined;
  --line-height-700: undefined;
  --line-height-800: undefined;
  --line-height-900: undefined;
  --line-height-1000: undefined;
  --line-height-1100: undefined;
  --letter-spacing-100: undefined;
  --corner-pill: undefined;
  --corner-pronounced: undefined;
  --corner-default: undefined;
  --corner-none: undefined;
  --corner-mild: undefined;
  --corner-subtle: undefined;
  --corner-tiny: undefined;
  --spacing-50: undefined;
  --spacing-100: undefined;
  --spacing-150: undefined;
  --spacing-200: undefined;
  --spacing-250: undefined;
  --spacing-400: undefined;
  --spacing-450: undefined;
  --spacing-500: undefined;
  --spacing-600: undefined;
  --spacing-700: undefined;
  --spacing-800: undefined;
  --spacing-900: undefined;
  --spacing-1000: undefined;
  --spacing-touch: undefined;
  --spacing-none: undefined;
  --duration-slow: undefined;
  --duration-medium: undefined;
  --duration-fast: undefined;
  --easing-accelerate: undefined;
  --easing-deccelerate: undefined;
  --easing-standard: undefined;
  --radius-100: undefined;
  --radius-150: undefined;
  --radius-200: undefined;
  --radius-300: undefined;
  --radius-400: undefined;
  --radius-500: undefined;
  --radius-full: undefined;
  --radius-none: undefined;
}